.clearfix:after {
    content: '';
    display: block;
    clear: both;
    letter-spacing: 0.5px;
}

p {
    font-size: 18px;
    padding: 10px auto;
    max-width: 800px;
    line-height: 1.3em;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

.sub-heading {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.3em;
}

header {
    background: rgba(0,0,0,0.2);

}

nav {
    background: transparent;
    height: 50px;
    width: 100%;
    border-bottom: 0 solid white;
    /*position: fixed;*/
    z-index: 1;
}

#banner {
    color: white;
    height: 100vh;
    -webkit-box-shadow: 3px 0 3px 0 rgba(0,0,0, 0.2);
    -moz-box-shadow: 3px 0 3px 0 rgba(0,0,0, 0.2);
    box-shadow: 3px 0 3px 0 rgba(0,0,0, 0.2);
}

nav ul{
    list-style: none;
    margin: 0 30px 0 0;
    float: right;
}

nav ul li, div.logo{
    display: inline-block;
    line-height: 50px;
    margin: auto 15px;
}
div.logo {
    float: left;
    margin: auto 30px;
}

nav a {
    text-decoration: none;  /* 去除a的默认文字下划线 */
    display: inline-block;
    height: inherit;               /* display：inline-block，宽不可改，但高度可改，修改height，使得按
                                    键有效范围增大，点到文字所在的一个较大区域都生效（不改，则只有点到文字上才生效）
                                     inherit，继承父元素的值。*/
    color: #fff;
}

nav ul li.logo {
    float: left;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 3px;
}


#banner .inner {    /* 注意bug写法: #banner.inner，这样少了一个空格，空格索引其子元素，inner是其子元素的属性，不是banner自己的属性 */
    /*background: #cccccc;*/
    max-width: 300px;
    text-align: center;  /* inner指向的是一个div，这里是用于其子元素（还得是行内元素）的居中 */
    margin: 0 auto;           /* 用于inner本身这个div在其父框内的居中，定宽块元素居中可以用左右margin相等处理 */

    position: relative;     /* 要加top、left这样的定位，需要改position */
    top: 210px;

    padding: 15px 0 ;
}

#banner #title {
    display: inline-block;
}

#banner h1 {
    margin: 0;
    border-top: white 3px solid;
    border-bottom: white 3px solid;
    display: inline-block;
    padding: 5px 0;
}

#banner p{
    line-height: 30px;
}

button.main-btn{
    border: none;
    padding: 10px 40px;
    color: #FFF;
    background: #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #52a6e8;
}

section.green-section{
    text-align: center;
    background: #22b0d0;
    color: white;
    padding: 120px 0;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.hr {
    width: 80%;
    height: 2px;
    margin: 20px auto;
}

.green-section .hr {
    background: #47cfdd;
}

.green-section p {
    max-width: 800px;
    margin: 10px auto;
}

.green-section .icon-group .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 50px 50px;
    border: #47cfdd 2px solid;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gray-section {
    background: #21213e;
}

.artical-preview {
    font-size: 0;
    color: #f0e8e8;

    /*max-width: 1080px;*/
}

.artical-preview:nth-child(odd) {
    background-color: rgba(255,255,255, 0.05);
}

.artical-preview:after {
    content: '';
    display: block;
    clear: both;
}

.img-section {
    width: 45%;
}

.img-section img {
    width: 100%;
}

 .text-section {
    width: 55%;
    /*background: orange;*/
}

.text-section .text-content {
    max-width: 95%;
    position: relative;
    margin: 0 0;
    top: 20px;
    left: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;

}

.text-content>h2, .text-content>h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.artical-preview>div {
    float: left;
}

.purple-section {
    background: #542d78;
    color: #FFF;
    padding: 100px 0;
}

.purple-section .wrapper {
    max-width: 800px;
}

.purple-section .sub-heading {
    margin: 20px 10px;
}

.purple-section .hr {
    background-color: #aaa;
    width: 60%;
}

.card {
    float: left;
    width: 50%;
    min-height: 200px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding: 20px;
    text-align: left;

    /*border: 1px solid blue;*/
}

.card:nth-child(1) {
    background-color: rgba(0,0,0, 0.04);
}

.card:nth-child(2) {
    background-color: rgba(0,0,0, 0.08);
}

.card:nth-child(3) {
    background-color: rgba(0,0,0, 0.12);
}

.card:nth-child(4) {
    background-color: rgba(0,0,0, 0.16);
}

.card:nth-child(5) {
    background-color: rgba(0,0,0, 0.20);
}

.card:nth-child(6) {
    background-color: rgba(0,0,0, 0.24);
}
.test {
    padding: 10px;
}

footer {
    background: #333333;
    color: #ffffff;
    min-height: 100px;
    text-align: center;
}

ul.share-group {
    display: block;
    width: 1080px;
    margin: 0 auto;
    list-style-type: none;
    padding: 50px 0;
}

ul.share-group li {
    display: inline-block;
    margin: 10px 10px;
}

.copyright {
    padding-bottom: 50px;
}

.main {
    background: #fff url("../imgs/7.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}





